<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME | WEBSITE</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="box">
        <div class="card">
            <a href="/mar_16">16 March 2022</a>
        </div>
        <div class="card">
            <a href="/apr_1">1 April 2022</a>
        </div>
        <div class="card">
            <a href="/apr_16">16 April 2022</a>
        </div>
        <div class="card">
            <a href="/addnumber">ADD Number </a>
        </div>
        <div class="card">
            <a href="/check">Check</a>
        </div>
        <div class="card">
            <a href="/credits">Credits</a>
        </div>
    </div>
</body>
</html>